@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body {
  height: 2000px;
}

/* banner */
.banner-2 {
  background-color: #091539;
}

.banner-2::before {
  content: '';
  position: absolute;
  right: 0;
  top: 53%;
  width: 93.7rem;
  height: 1px;
  background-color: #fff;
  z-index: 5;
}

.banner-2::after {
  content: '';
  position: absolute;
  right: -10%;
  width: 45%;
  height: 100%;
  background-color: #EDBF2D;
  z-index: 0;
  transform: skewX(-35deg);
}

/* item slider */
.item-slider .slick-prev {
  top: 111px;
  left: -50px;
}

.item-slider .slick-next {
  top: 111px;
  right: -50px;
}

.item-slider .slick-prev::before,
.item-slider .slick-next::before {
  color: blue;
  font-size: 32px;
  opacity: .25;
}

.item-slider .slick-prev::before {
  content: '←';
}

.item-slider .slick-next::before {
  content: '→';
}

/* product detail */
.product-detail-image .slick-prev {
  left: -40px;
}

.product-detail-image .slick-prev::before,
.product-detail-image .slick-next::before {
  color: blue;
  font-size: 32px;
  opacity: .25;
}

.product-detail-image .slick-prev::before {
  content: '←';
}

.product-detail-image .slick-next::before {
  content: '→';
}

.product-detail-image .slick-list {
  padding: .5rem .25rem;
}